@media (max-width: 1024px) {
  /* Tableau scrollable horizontalement */
  .catways-list {
    overflow-x: auto;
    padding: 0 1rem;
  }

  .catways-list table {
    min-width: 500px;
  }

  /* Formulaire pleine largeur */
  .create-catways form {
    width: 90%;
    max-width: 400px;
  }
  .btn-create {
    width: 100%;
    box-sizing: border-box;
  }
  /* Titre plus petit */
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

#flash-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  text-align: center;
  font-size: large;
  color: lightgreen;
}

.catways-list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  margin-bottom: 1rem;
}

.catways-list table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  text-align: center;
}

table {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px 15px;
  text-align: center;
}

.catways-list tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

td:nth-child(3) {
  font-weight: 500;
}

td:last-child {
  white-space: nowrap;
}

.create-catways {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.create-catways form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.create-catways label {
  text-align: center;
}

.create-catways input,
.create-catways select {
  padding: 8px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.create-catways button {
  margin-bottom: 1rem;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

button {
  font-size: small;
  cursor: pointer;
  background-color: #93c5fd;
  border: none;
  border-radius: 6px;
}
.btn-create:hover {
  background-color: #60a5fa;
  transition: 0.3s;
}
.btn-edit {
  display: inline-block;
  background-color: #bfdbfe;
  color: #1e3a8a;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.3s;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  width: 95px;
}

.btn-edit:hover {
  background-color: #93c5fd;
}

.btn-danger {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-danger:hover {
  background-color: #b91c1c;
}

td:last-child .btn-edit,
td:last-child .btn-danger {
  padding: 4px 10px;
  margin: 0 2px;
  width: auto;
}
