html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
  box-sizing: border-box;
}

.edit-users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.edit-users form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.edit-users label {
  text-align: center;
}

.edit-users input,
.edit-users select {
  padding: 8px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.edit-users button {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #93c5fd;
  border: none;
  border-radius: 6px;
}

.edit-users button:hover {
  background-color: #60a5fa;
}

.btn-cancel {
  display: inline-block;
  background-color: #93c5fd;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.3s;
  color: black;
  text-align: center;
  width: fit-content;
  align-self: center;
}

.btn-cancel:hover {
  background-color: #60a5fa;
}
